:root {
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}

body {
  background-color: black;
  color: white;
  
}

aside {
  float: left;
  width: 25%;
  line-height: 2rem;
  font-weight: bolder;
  text-align: center;
}

.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 2px solid silver;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

#submitButton {
  height: 10vh;
  width: 20vh;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: darkgreen;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 1rem;
}

label {
  font-size: xx-large;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  position: relative;
  left: 12%;
}

.form textarea {
  width: 300px;
  height: 60px;
  margin: 10px;
  font-size: xx-large;
}

.card {
  width: 500px;
  height: fit-content;
  border: 2px solid white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin: 10px ;
}

.card button {
  margin-bottom: .5rem;
  height: 3rem;
  width: fit-content;
  font-size: large;
  font-weight: bolder;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

#deleteButton {
  background-color: red;
}

#updateButton {
  background-color: darkgreen;
}

.card p {
  font-size: x-large;
}


#updateInput {
  width: 10rem;
  height: 3rem;
  font-size: large;
}


/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .container {
      width: var(--container-width-md);
  }

  section {
      margin-top: 6rem;
      height: 100vh;
  }
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  
}
/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .app {
  }

  body {
    width: var(--container-width-sm);
  }
}

