:root {
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}

body {
  background-color: black;
  color: white;
  
}

aside {
  float: left;
  width: 25%;
  line-height: 2rem;
  font-weight: bolder;
  text-align: center;
}

.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 2px solid silver;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  position: relative;
}

#submitButton {
  height: 10vh;
  width: 20vh;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: darkgreen;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 1rem;
}

label {
  font-size: xx-large;
}

.shuffleContainer {
  position: relative;
  border: 2px solid white;
  float: right;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  margin-right: 1rem;


  background:-moz-linear-gradient(0deg, #FFFFFF 50%, #FF0000 100%);
  background:-webkit-linear-gradient(0deg, #FFFFFF 50%, #FF0000 100%);
  background:-o-linear-gradient(0deg, #FFFFFF 50%, #FF0000 100%);
  background:-ms-linear-gradient(0deg, #FFFFFF 50%, #FF0000 100%);
  background:linear-gradient(0deg, #FFFFFF 50%, #FF0000 100%);
}

.shuffleContainer div {
  border: 2px solid black;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  
}

.shuffleContainer h3{
  border: 1px solid black;
  background-color: black;
}

.shuffleContainer h4 {
  color: black;
}

.shuffleContainer p {
  color: black;
}



.shuffleButton {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  left: 0;
  opacity: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  position: relative;
  left: 12%;
}

.form textarea {
  width: 300px;
  height: 60px;
  margin: 10px;
  font-size: xx-large;
}

.card {
  width: 500px;
  height: fit-content;
  border: 2px solid white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin: 10px ;
}

.card button {
  margin-bottom: .5rem;
  height: 3rem;
  width: fit-content;
  font-size: large;
  font-weight: bolder;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

#deleteButton {
  background-color: red;
}

#updateButton {
  background-color: darkgreen;
}

.card p {
  font-size: x-large;
}


#updateInput {
  width: 10rem;
  height: 3rem;
  font-size: large;
}


/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .container {
      width: var(--container-width-md);
  }

  section {
      margin-top: 6rem;
      height: 100vh;
  }
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  
}
/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .app {
    width: var(--container-width-sm);

  }

  aside {
    width: 100%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin-bottom: 3rem;
}

  aside::after {
    border-bottom: 2px solid white;
    content: "";
    width: 10rem;
    height: 3rem;
    position: absolute;
    left: 8.2rem;
  }

  .form {
    position: relative;
    left: 6%;
  }

  .card {
    position: relative;
    width: 100%;
  }

  #submitButton {
    width: fit-content;
    height: 3rem;
  }

}

